subgen/auth/__pycache__/*
subgen/backend/__pycache__/*
subgen/user/__pycache__/*
subgen/backend/migrations/__pycache__/*
subgen/subgen/__pycache__/*
subgen/subgen/settings/__pycache__/*
subgen/user/migrations/__pycache__/*

venv/
*.sqllite3
subgen/media/uploads/*

# Local Netlify folder
.netlify
emailCreds.txt
*.srt
*.mp4
*.mp3
*.zip
