/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.app-name {
  text-decoration:none !important;
  font-size: xx-large !important;
  color: rgb(33, 37, 41) !important;
}

.homepage-title {
  color: #000000;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0px 2px 5px #888888;
}

.navbar-item {
  color: rgb(0, 0, 0) !important;
  font-size: larger !important;
}

.navbar-item:hover { 
  text-decoration: underline; 
  color: rgb(33, 37, 41) !important;
}

.active a {  
  color: rgb(100, 196, 100) !important;
}


.main-module {
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #888888;
  border-radius: 10px;
  text-align: center;
}

.main-module:hover {
  box-shadow: 0px 0px 8px #888888;
}

.main-module-text {
  font-size:larger; 
  text-align: center;
  position: relative;
  border-radius: 10px;
}

.app-button {
  background-color: #28A745 !important;
  border-color: #28A745 !important;
}

.app-button:hover {
  background-color: #269440 !important;
  border-color: #269440 !important;
}

.btn {
  box-shadow: 0px 2px 3px #888888;
  position: relative;
}

footer {
  height: 120px;
}

.attribution {
  background-color:rgb(245, 245, 245);
}

.attribution a{
  color: rgb(33, 37, 41) !important;
}
